.section{
  &__searchResult {
    // TODO:之後設定為固定，現在方便維護
    margin-top: 72px;
    .inner {
      &__searchBtn {
        transition: all 0.35s;
        &__text {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
    }
    .lineSeparator {
      &::before {
        @include media-breakpoint-down(md){
          background-color: white;
        }
      }
    }
  }
}
.product{
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 0;
    @include media-breakpoint-up(sm) {
      border-radius: 8px 0px 0px 8px;
    }
    @include media-breakpoint-up(lg) {
      width: 255px;
      height: 175px;
    }
    &__booking{
      @include media-breakpoint-down(sm) {
        width: 330px;
        height: 226px;
        border-radius: 8px 8px 0px 0px;
      }
    }
  }
  &__price {
    position: relative;
    font-size: 16px;
    &__title{
      @include media-breakpoint-up(md) {
        font-size: 24px;
        &::before {
          position: absolute;
          content: "per night";
          font-size: 12px;
          font-weight: normal;
          color: #00000099;
          top: -15px;
          right: 0;
        }
      }
    }
    &.active {
      .product__price__title{
        color: map-get($theme-colors, primary);
        &::before {
          top: -20px;
        }
      }
    }
    &__origin {
      font-size: 12px;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }
}

.list-group-item {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #f1f0f8;
  }
}
.list-group-item.active {
  background-color: white;
  color: map-get($theme-colors, primary);
  transition: all 0.35s;
  &::after {
    background: map-get($theme-colors, primary);
  }
}