.section{
  &__subscribe {
    height: 149px;
    @include media-breakpoint-up(md) {
      height: 320px;
    }
  }
  &__searchResult {
    // TODO:之後設定為固定，現在方便維護
    margin-top: 58px;
    .inner {
      &__searchBtn {
        transition: all 0.35s;
        &__text {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
    }
    .lineSeparator {
      &::before {
        background-color: white;
      }
    }
  }
}
.product{
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 0;
    @include media-breakpoint-up(sm) {
      border-radius: 8px 0px 0px 8px;
    }
    @include media-breakpoint-up(lg) {
      width: 255px;
      height: 175px;
    }
  }
  &__price {
    position: relative;
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-size: 24px;
      &::before {
        position: absolute;
        content: "per night";
        font-size: 12px;
        font-weight: normal;
        color: #00000099;
        top: -15px;
        right: 0;
      }
    }
    &.active {
      &::before {
        top: -20px;
      }
      .product__price__title{
        color: map-get($theme-colors, primary);
      }
    }
    &__origin {
      font-size: 12px;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }
}


