.section{
  &__resultList {
    // margin-top: 200px;
    a.nav-link {
      color: map-get($theme-colors, info);
      &.active {
        color: map-get($theme-colors, primary);
      }
    }
    .inner {
      &__item {
        margin: 0px -15px;
        border-bottom: 4px solid map-get($theme-colors, secondary);
        @include media-breakpoint-up(sm) {
          margin: 0px;
          border-bottom: 1px solid map-get($theme-colors, secondary);
        }
      }
      &__link {
        &:hover {
          border-radius: 8px;
          box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
          transition: all 0.35s;
          .inner__title {
            text-decoration: underline;
          }
        }
      }
      
    }
  }
}