// 瀏覽器可能為20px
html{
  font-size: 16px;
}
body{
  overflow-x: hidden;
}
h1, .h1 {
  font-size: 48px;
}
h2, .h2 {
  font-size: 32px;  
}
h3, .h3 {
  font-size: 24px;  
}
h4, .h4 {
  font-size: 16px;  
}
small{
  font-size: 12px;
}


h1, .h1,h2, .h2,h3, .h3,h4, .h4{
  line-height: 1.24;
}
h1, h2, h3, h4{
  font-family: 'Raleway', serif;
  color: #000000DE;
} 

// TODO:檢查是否有地方不正確使用 small標籤
.text-muted{
  font-size: 14px;
}
.text--muted{
  font-size: 14px;
}
th,td{
  text-align: center;
}