.calendar {
  position: relative;
  //日後或許可以增加 class
  // &__month{
    
  // }
  &__monthPrev {
    position: absolute;
    top: 3px;
    left: 0;
  }
  &__monthNext {
    position: absolute;
    top: 3px;
    right: 0;
  }
  &__day {
    cursor: pointer;
    &:hover {
      background-color: map-get($theme-colors, secondary);
    }
  }
  &__selectDate {
    background-color: map-get($theme-colors, secondary);
    // TODO:有點問題，不是算有此 class的元素，而是算 td有多少個
    &:nth-child(4) {
      border-radius: 4px 0px 0px 4px;
      background-color: map-get($theme-colors, primary);
      color: white;
    }
    &:last-child {
      border-radius: 0px 4px 4px 0px;
      background-color: map-get($theme-colors, primary);
      color: white;
    }
  }
}
