
// modal 被點擊時，網頁元素最下方會被加上 modal-backdrop fade show
// 這三個元素控制它們出現的效果
// TODO:日後增加其他效果，例如從下到上
.modal {
  .modal-header {
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
  .btn {
    &:focus {
      border: 0;
    }
  }
  &--bottom {
    .modal-dialog {
      /* 預設 position: relative; */
      /* fixed會從左邊開始，是因為 modal設定 top:0 ; left:0 */
      position: fixed;
      /* 調整位置 - 置底 */
      right: 0;
      left: 0;
      bottom: 0;
    }
    .modal-content{
      border-radius: 4px 4px 0 0;
    }
  }
  &--fluid{
    .modal-dialog{
      max-width: 100%;
      margin: 0;
    }
  }
}