.modal.bottom .modal-dialog {
  // TODO:更改AOS動畫方向、背景完全透明
  /* fixed會從左邊開始 */
  position: fixed;
  /* 從下面開始 */
  right: 0;
  left: 0;
  bottom: 0;
  // 滿版
  margin: auto;
  max-width: 100%;
  // 從右到左出現
  // transition: translate3d(0%, 0, 0);
}

// 變更外觀樣式
// TODO:也更改了其他，要重新命名
.modal-content {
  border: none;
  background-color: rgba(0, 0, 0, 0.871);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -4px 8px #00000029;
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top: 0;
}
.btn {
  &:focus {
    border: 0;
  }
}
