.logo {
  @include hidden-text(96px, 24px, url("../images/ic-logo-aloha.svg"));
}
.image--cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.object--cover {
  object-fit: cover;
}

