.logo {
  @include hidden-text(96px, 24px, url("../images/ic-logo-aloha.svg"));
}
.login {
  &__navImage {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../images/sung-wang-g4DgCF90EM4-unsplash.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: 2px solid map-get($theme-colors, primary);
      top: 0px;
      left: -32px;
      @include media-breakpoint-up(md){
        top: 0;
      }
    }
  }
  &__memberImage {
    width: 64px;
    height: 64px;
  }
}
.icon{
  &__rating{
    font-size: 18px;
  }
}
// 圖片類
.image--cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.object--cover {
  object-fit: cover;
}
.rounded--deepen {
  border-radius: 8px;
}
.rounded-top--deepen {
  border-radius: 8px 8px 0 0;
}

// 分隔線
.lineSeparator {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 10%;
    bottom: 10%;
    right: -1px;
    width: 1px;
    height: 80%;
    background-color: map-get($theme-colors, secondary);
  }
}

// swiper 按鈕
.custom {
  // TODO: swiper-container帶有 overflow:hidden，會蓋掉按鈕
  &__swiper-button-next {
    width: 40px;
    height: 40px;
    top: 30%;
    transform: translateX(25%);
    &::after {
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__swiper-button-prev {
    width: 40px;
    height: 40px;
    top: 30%;
    transform: translateX(-25%);
    &::after {
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__rangeGroup {
    // 調整中
    position: relative;
    input[type=range] {
      position: absolute;
      appearance: none;    /* 重置預設背景拉條 */
      // overflow: hidden; /* 多的隱藏，但效果不是想要的 */
      height: 8px;
      outline: none;       /* 避免點選會有藍線或虛線 */
      background: none;
      pointer-events: none;/* 取消可拖曳按鈕，因為點下去不知道哪個按鈕要動 */
      // 滑動軌道
      &::-webkit-slider-runnable-track {
        background-color: map-get($theme-colors, primary);
        border-radius: 8px;
        height: 2px;
      }
      // 滑動拉霸
      &::-webkit-slider-thumb {
        appearance: none;
        position: relative;
        top: -7px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: map-get($theme-colors, primary);
        pointer-events: auto
        // ::-webkit-slider-thumb:before似乎沒有效果
      }

    }
  }
}
// 欄位設定
.card-columns {
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
}

// 會跑版
// .swiper-container {
//   overflow: visible;
// }
// $slide: ".swiper-slide";
// .swiper-slide {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
//   &-active {
//     opacity: 1;
//     visibility: visible;

//     @for $i from 1 through 3 {
//       & + #{$slide} {
//         opacity: 1;
//         visibility: visible;
//       }
//       $slide: "#{$slide} + .swiper-slide";
//     }
//   }
// }