.logo {
  @include hidden-text(96px, 24px, url("../images/ic-logo-aloha.svg"));
}
.login{
  &__navImage{
    width: 24;
    height: 24px;
  }
  &__memberImage{
    width: 64px;
    height: 64px;
  }
}

// 圖片類
.image--cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.object--cover {
  object-fit: cover;
}
.rounded--deepen{
  border-radius: 8px;
}


// modal
.modal--fluid {
  max-width: 100%;
  margin: 0;
}

// 分隔線
.lineSeparator{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: 10%;
    bottom:10%;
    right: -1px;
    width: 1px;
    height: 80%;
    background-color: map-get($theme-colors , secondary );
  }
}

// swiper 按鈕
.custom__swiper-button-next {
  width: 40px;
  height: 40px;
  top: 30%;
  transform: translateX(25%);
  &::after {
    font-size: 16px;
    font-weight: bold;
  }
}

// 欄位設定
.card-columns {
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
}



// input[type="range"]::-webkit-slider-runnable-track{
//   background-color: map-get($theme-colors , primary );
//   border-radius: 8px;
// }