/* 區塊命名 */
.section {
  &__banner {
    margin-top: 58px;
    height: 320px;
    background-image: url("../images/index-banner.jpg");
  }
  &__detailBanner {
    .inner {
      &__img {
        border-radius: 4px;
        &__primary {
          height: 247px;
          @include media-breakpoint-up(md) {
            height: 268px;
          }
          @include media-breakpoint-up(lg) {
            height: 434px;
          }
        }
        &__secondary{
          @include media-breakpoint-up(md) {
            height: 132px;
          }
          @include media-breakpoint-up(lg) {
            height: 213px;
          }
        }
        &__third{
          @include media-breakpoint-up(md) {
            height: 93px;
          }
          @include media-breakpoint-up(lg) {
            height: 151px;
          }
        }
      }
    }
  }
  &__search {
    transform: translateY(-25%);
    @include media-breakpoint-up(lg) {
      transform: translateY(-50%);
    }
    &__result {
      // TODO:之後設定為固定，現在方便維護
      margin-top: 58px;
      .inner {
        &__searchBtn {
          transition: all 0.35s;
          &__text {
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
      .lineSeparator {
        &::before {
          background-color: white;
        }
      }
    }
  }
  &__topChoices {
    .inner {
      &__img {
        object-fit: cover;
        width: 255px;
        height: 164px;
        @include media-breakpoint-up(md) {
          height: 185px;
        }
        @include media-breakpoint-up(lg) {
          height: 175px;
        }
      }
    }
    .list-group-item {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: #f1f0f8;
      }
    }
    .list-group-item.active {
      background-color: white;
      color: map-get($theme-colors, primary);
      transition: all 0.35s;
      &::after {
        background: map-get($theme-colors, primary);
      }
    }
    // TODO:考慮是否獨立出來
    .swiper-button-next {
      width: 40px;
      height: 40px;
      top: 30%;
      transform: translateX(20%);
      &::after {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &__destinations {
    .inner {
      &__img {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          border-radius: 8px;
          background: linear-gradient(270deg, #00000000 0%, #000000 100%);
        }
        // TODO:圖片或許可以獨立出來使用
        &__Osaka {
          background-image: url("../images/Osaka.jpg");
        }
        &__Kyoto {
          background-image: url("../images/Kyoto.jpg");
        }
        &__Reykjavic {
          background-image: url("../images/Reykjavic.jpg");
        }
        &__Paris {
          background-image: url("../images/Paris.jpg");
        }
        &__Roma {
          background-image: url("../images/Roman.jpg");
        }
        &__Bangkok {
          background-image: url("../images/Bangkok.jpg");
        }
      }
      &__text {
        text-align: left;
        z-index: 9;
      }
    }
    .btn {
      &:focus {
        box-shadow: none;
      }
    }
  }
  &__inspiration {
    .inner {
      &__img {
        object-fit: cover;
        width: 240px;
        height: 181px;
        @include media-breakpoint-up(md) {
          width: 210px;
          height: 158px;
        }
        @include media-breakpoint-up(lg) {
          width: 350px;
          height: 263px;
        }
      }
    }
  }
  &__resultList {
    a.nav-link {
      color: map-get($theme-colors, info);
      &.active {
        color: map-get($theme-colors, primary);
      }
    }
    .inner {
      &__item {
        margin: 0px -15px;
        border-bottom: 4px solid map-get($theme-colors, secondary);
        @include media-breakpoint-up(sm) {
          margin: 0px;
          border-bottom: 1px solid map-get($theme-colors, dark);
        }
      }
      &__link {
        &:hover {
          border-radius: 8px;
          box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
          transition: all 0.35s;
          .inner__title {
            text-decoration: underline;
          }
        }
      }
      &__img {
        width: 150px;
        height: 150px;
        border-radius: 0;
        @include media-breakpoint-up(sm) {
          border-radius: 8px 0px 0px 8px;
        }
        @include media-breakpoint-up(lg) {
          width: 255px;
          height: 175px;
        }
      }
      &__price {
        position: relative;
        font-size: 16px;
        @include media-breakpoint-up(lg) {
          font-size: 24px;
          &::before {
            position: absolute;
            content: "per night";
            font-size: 12px;
            color: #00000099;
            top: -15px;
            right: 0;
          }
        }
        &.active {
          color: map-get($theme-colors, primary);
          &::before {
            top: -40px;
          }
        }
        &__origin {
          position: absolute;
          font-size: 12px;
          color: #00000099;
          width: 100%;
          top: -15px;
          right: 0;
          @include media-breakpoint-up(md) {
            top: -20px;
            font-size: 14px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 16px;
          }
        }
      }
    }
  }
  &__selectRoom{
    .inner{
      &__img{
        width: 150px;
        height: 150px;
        border-radius: 8px 0 0 8px;
      }
    }
  }
  &__subscribe {
    height: 149px;
    @include media-breakpoint-up(md) {
      height: 320px;
    }
  }
}
