/* 區塊命名 */
.section {
  &__banner {
    height: 320px;
    background-image: url("../images/index-banner.jpg");
  }
  &__search {
    transform: translateY(-25%);
    @include media-breakpoint-up(lg) {
      transform: translateY(-50%);
    }
    &__result{
      .inner{
        &__btn {
          position: relative;
          &__text {
            position: absolute;
            top:-5px;
            left: 0;
          }
        }
      }
    }
  }
  &__topChoices {
    .inner {
      &__img {
        object-fit: cover;
        width: 255px;
        height: 164px;
        @include media-breakpoint-up(md) {
          height: 185px;
        }
        @include media-breakpoint-up(lg) {
          height: 175px;
        }
      }
    }
    .list-group-item{
      position: relative;
      &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: #F1F0F8;
      }
    }
    .list-group-item.active{
      background-color: white;
      color: map-get($theme-colors , primary );
      transition: all 0.35s;
      &::after{
        background: map-get($theme-colors , primary );
      }
    }
    .swiper-button-next{
      width: 40px;
      height: 40px;
      top: 30%;
      transform: translateX(20%);
      &::after{
        font-size: 16px;
        font-weight: bold;
      }
    
    }
  }
  &__destinations {
    .inner{
      &__img{
        position: relative;
        &::after{
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          border-radius: 8px;
          background:linear-gradient(270deg, #00000000 0%, #000000 100%);
        }
        &__Osaka{
          background-image: url("../images/Osaka.jpg");
        }
        &__Kyoto{
          background-image: url("../images/Kyoto.jpg");
        }
        &__Reykjavic{
          background-image: url("../images/Reykjavic.jpg");
        }
        &__Paris{
          background-image: url("../images/Paris.jpg");
        }
        &__Roma{
          background-image: url("../images/Roman.jpg");
        }
        &__Bangkok{
          background-image: url("../images/Bangkok.jpg");
        }
      }
      &__text{
        text-align: left;
        z-index: 9;
      }
    }
    .btn{
      &:focus{
        box-shadow:none;
      }
    }
  }
  &__inspiration {
    .inner {
      &__img {
        object-fit: cover;
        width: 240px;
        height: 181px;
        @include media-breakpoint-up(md) {
          width: 210px;
          height: 158px;
        }
        @include media-breakpoint-up(lg) {
          width: 350px;
          height: 263px;
        }
      }
    }
  }
  &__resultList{
    a.nav-link{
      color: map-get($theme-colors , info );
      &.active{
        color: map-get($theme-colors , primary );
      }
    }
    .inner{
      &__img{
        width: 150px;
        height: 150px;
        @include media-breakpoint-up(lg) {
          width: 255px;
          height: 175px;
        }
      }
      &__price{
        position: relative;
        &::before{
          position: absolute;
          content: 'per night';
          font-size: 12px;
          color: #00000099;
          top:-15px;
          right: 0;
        }
        &.active{
          color: map-get($theme-colors , primary );
          &::before{
            top:-40px;
          }
        }
        &__origin{
          position: absolute;
          font-size: 16px;
          color: #00000099;
          width: 100%;
          top: -20px;
          right: 0;
        }
      }
    }
  }
  &__subscribe {
    height: 149px;
    @include media-breakpoint-up(md) {
      height: 320px;
    }
  }
}

